@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap')
@import "variables"
@import "normalize"
@import "Nav"
@import "Home"
@import "Destination"
.Website
    display: flex
    flex-direction: column
    min-height: 100vh
    min-width: 360px
    background-repeat: no-repeat
    background-size: cover
    overflow-x: hidden
    &.home
        background-image: url('../images/home/background-home-mobile.jpg')
        @media (min-width: 520px)
            background-image: url('../images/home/background-home-tablet.jpg')
        @media (min-width: 1000px)
            background-image: url('../images/home/background-home-desktop.jpg')
    &.destination
        background-image: url('../images/destination/background-destination-mobile.jpg')
        @media (min-width: 520px)
            background-image: url('../images/destination/background-destination-tablet.jpg')
        @media (min-width: 1000px)
            background-image: url('../images/destination/background-destination-desktop.jpg')
    &.crew
        background-image: url('../images/crew/background-crew-mobile.jpg')
        @media (min-width: 520px)
            background-image: url('../images/crew/background-crew-tablet.jpg')
        @media (min-width: 1000px)
            background-image: url('../images/crew/background-crew-desktop.jpg')
    &.technology
        background-image: url('../images/technology/background-technology-mobile.jpg')
        @media (min-width: 520px)
            background-image: url('../images/technology/background-technology-tablet.jpg')
        @media (min-width: 1000px)
            background-image: url('../images/technology/background-technology-desktop.jpg')
    &__main
        flex-grow: 1
