@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
html {
  --mainColor: rgb(11,13,23);
  --secondColor: rgb(208,214,249);
  --thirdColor: rgb(255,255,255);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Nav {
  font-family: 'Barlow Condensed';
  text-transform: uppercase;
  padding: 40px 0 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  position: relative;
}

@media (min-width: 520px) {
  .Nav {
    font-size: 1.2em;
    padding: 0 0 40px 40px;
  }
}

@media (min-width: 1000px) {
  .Nav {
    font-size: 1.5em;
    padding: 40px 0 40px 40px;
  }
}

@media (min-width: 1000px) {
  .Nav__line {
    position: absolute;
    top: 90px;
    left: 170px;
    right: 790px;
    height: 1px;
    background-color: #525252;
    z-index: 101;
  }
}

.Nav__logo {
  width: 50px;
  height: 50px;
}

.Nav__hamburger {
  margin-left: auto;
  cursor: pointer;
  z-index: 101;
  padding-right: 40px;
}

@media (min-width: 520px) {
  .Nav__hamburger {
    display: none;
  }
}

.Nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

@media (max-width: 519px) {
  .Nav__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 150px;
    line-height: 3em;
    font-size: 1.3em;
    -webkit-transform: translateX(80vw);
            transform: translateX(80vw);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .Nav__ul.NavActive {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 520px) {
  .Nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 30px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 1000px) {
  .Nav__ul {
    padding-left: 50px;
    padding-right: 90px;
  }
}

.Nav__li a {
  text-align: left;
  text-decoration: none;
  color: white;
  padding: 0 0 0 30px;
  margin-top: 30px;
  position: relative;
  display: block;
  width: 100%;
}

.Nav__li a span {
  font-weight: bold;
  margin-right: 10px;
}

@media (min-width: 520px) and (max-width: 999px) {
  .Nav__li a span {
    display: none;
  }
}

@media (min-width: 520px) {
  .Nav__li a {
    margin: 0 0 0 30px;
    padding: 35px 0;
    width: auto;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .Nav__li a {
    margin: 0 0 0 60px;
  }
}

.Nav__li a::after {
  content: "";
  position: absolute;
  background-color: #8a8a8a;
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
  bottom: 0;
  right: 0;
  width: 3px;
  height: 0;
}

@media (min-width: 520px) {
  .Nav__li a::after {
    right: none;
    left: 0;
    width: 0;
    height: 3px;
  }
}

.Nav__li a:hover::after {
  height: 100%;
}

@media (min-width: 520px) {
  .Nav__li a:hover::after {
    height: 3px;
    width: 100%;
  }
}

.Nav__li a.active::after {
  content: "";
  position: absolute;
  background-color: var(--thirdColor);
  bottom: 0;
  right: 0;
  width: 3px;
  height: 100%;
}

@media (min-width: 520px) {
  .Nav__li a.active::after {
    right: none;
    left: 0;
    width: 100%;
    height: 3px;
  }
}

.Home {
  padding: 0 15px 50px 15px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: 'Barlow Condensed';
  height: calc(100vh - 130px);
  min-height: 600px;
}

@media (min-width: 520px) {
  .Home {
    padding: 20px 40px 50px 40px;
    height: calc(100vh - 173px);
    min-height: 700px;
  }
}

@media (min-width: 1000px) {
  .Home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: calc(100vh - 180px);
    min-height: 550px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 130px 170px;
  }
}

@media (min-width: 1000px) {
  .Home__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 500px;
    text-align: left;
  }
}

.Home__h3 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: normal;
  color: var(--secondColor);
  font-size: 1.4rem;
  margin-top: 30px;
}

@media (min-width: 520px) {
  .Home__h3 {
    margin-top: 0;
    font-size: 1.6rem;
  }
}

@media (min-width: 1000px) {
  .Home__h3 {
    font-size: 1.8rem;
  }
}

.Home__h1 {
  font-family: 'Bellefair';
  text-transform: uppercase;
  font-weight: normal;
  font-size: 100px;
  margin: 25px 0;
}

@media (min-width: 520px) {
  .Home__h1 {
    font-size: 140px;
  }
}

@media (min-width: 1000px) {
  .Home__h1 {
    font-size: 160px;
  }
}

.Home__p {
  color: var(--secondColor);
  line-height: 1.7rem;
  padding: 0 30px;
  font-size: 1.2rem;
}

@media (min-width: 520px) {
  .Home__p {
    padding: 0 60px;
    min-width: 390px;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    font-size: 1.3rem;
  }
}

@media (min-width: 1000px) {
  .Home__p {
    padding: 0 60px 0 0;
    line-height: 2rem;
    margin: 0 0 20px 0;
  }
}

.Home__button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  margin-bottom: 50px;
}

@media (min-width: 520px) {
  .Home__button {
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .Home__button {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-left: 100px;
    margin-top: 50px;
  }
}

.Home__button a {
  display: block;
  height: 150px;
  width: 150px;
  background-color: var(--thirdColor);
  line-height: 155px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  font-family: 'Bellefair';
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-top: 50px;
}

@media (min-width: 520px) {
  .Home__button a {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 1.8rem;
  }
}

@media (min-width: 1000px) {
  .Home__button a {
    width: 250px;
    height: 250px;
    line-height: 250px;
    font-size: 2.1rem;
    margin-bottom: 80px;
  }
}

.Home__button a::after {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--thirdColor);
  opacity: .2;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 520px) {
  .Home__button a::after {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1000px) {
  .Home__button a::after {
    width: 250px;
    height: 250px;
  }
}

.Home__button a:hover::after {
  width: 200px;
  height: 200px;
}

@media (min-width: 520px) {
  .Home__button a:hover::after {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1000px) {
  .Home__button a:hover::after {
    height: 300px;
    width: 300px;
  }
}

.Destination {
  color: white;
  font-family: 'Barlow Condensed';
  padding: 0 25px 50px 25px;
  height: calc(100vh - 130px);
}

@media (min-width: 520px) {
  .Destination {
    height: calc(100vh - 173px);
  }
}

@media (min-width: 1000px) {
  .Destination {
    height: calc(100vh - 180px);
  }
}

.Destination__h3 {
  width: 100%;
  text-align: center;
  font-weight: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.4rem;
}

@media (min-width: 520px) {
  .Destination__h3 {
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .Destination__h3 {
    margin-left: 100px;
  }
}

.Destination__h3 span {
  font-weight: bold;
  color: var(--secondColor);
  margin-right: 20px;
  letter-spacing: 0;
}

.Destination__h1 {
  font-weight: normal;
  font-size: 4rem;
  font-family: 'Bellefair';
  margin-top: 20px;
}

@media (min-width: 520px) {
  .Destination__h1 {
    margin-top: 30px;
  }
}

@media (min-width: 1000px) {
  .Destination__h1 {
    font-size: 6rem;
  }
}

.Destination__p {
  padding: 0 20px;
  color: var(--secondColor);
  font-size: 1.1rem;
  line-height: 2rem;
}

@media (min-width: 1000px) {
  .Destination__p {
    padding: 0 20px 0 0;
    font-size: 1.2rem;
  }
}

.Destination__parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

@media (min-width: 520px) {
  .Destination__parameters {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 100px;
  }
}

@media (min-width: 1000px) {
  .Destination__parameters {
    gap: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.Destination__parameters h4 {
  font-weight: normal;
  color: var(--secondColor);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.Destination__parameters h1 {
  font-weight: normal;
  font-family: 'Bellefair';
  font-size: 2rem;
  margin-top: 10px;
}

.Destination__article {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  .Destination__article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 100px;
  }
}

.Destination__img-wrapper {
  height: 170px;
  width: 170px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 520px) {
  .Destination__img-wrapper {
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 1000px) {
  .Destination__img-wrapper {
    height: 470px;
    width: 470px;
  }
}

.Destination__img-wrapper.moon {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.Destination__img-wrapper.mars {
  -webkit-transform: translateX(-600px);
          transform: translateX(-600px);
}

@media (min-width: 520px) {
  .Destination__img-wrapper.mars {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
}

@media (min-width: 1000px) {
  .Destination__img-wrapper.mars {
    -webkit-transform: translateX(-2500px);
            transform: translateX(-2500px);
  }
}

.Destination__img-wrapper.europa {
  -webkit-transform: translateX(-1200px);
          transform: translateX(-1200px);
}

@media (min-width: 520px) {
  .Destination__img-wrapper.europa {
    -webkit-transform: translateX(-2200px);
            transform: translateX(-2200px);
  }
}

@media (min-width: 1000px) {
  .Destination__img-wrapper.europa {
    -webkit-transform: translateX(-5000px);
            transform: translateX(-5000px);
  }
}

.Destination__img-wrapper.titan {
  -webkit-transform: translateX(-1800px);
          transform: translateX(-1800px);
}

@media (min-width: 520px) {
  .Destination__img-wrapper.titan {
    -webkit-transform: translateX(-3300px);
            transform: translateX(-3300px);
  }
}

@media (min-width: 1000px) {
  .Destination__img-wrapper.titan {
    -webkit-transform: translateX(-7500px);
            transform: translateX(-7500px);
  }
}

.Destination__img-wrapper img {
  width: 100%;
  position: absolute;
  top: 0;
}

.Destination__img-wrapper img:nth-of-type(1) {
  left: 0;
}

.Destination__img-wrapper img:nth-of-type(2) {
  left: 600px;
}

@media (min-width: 520px) {
  .Destination__img-wrapper img:nth-of-type(2) {
    left: 1100px;
  }
}

@media (min-width: 1000px) {
  .Destination__img-wrapper img:nth-of-type(2) {
    left: 2500px;
  }
}

.Destination__img-wrapper img:nth-of-type(3) {
  left: 1200px;
}

@media (min-width: 520px) {
  .Destination__img-wrapper img:nth-of-type(3) {
    left: 2200px;
  }
}

@media (min-width: 1000px) {
  .Destination__img-wrapper img:nth-of-type(3) {
    left: 5000px;
  }
}

.Destination__img-wrapper img:nth-of-type(4) {
  left: 1800px;
}

@media (min-width: 520px) {
  .Destination__img-wrapper img:nth-of-type(4) {
    left: 3300px;
  }
}

@media (min-width: 1000px) {
  .Destination__img-wrapper img:nth-of-type(4) {
    left: 7500px;
  }
}

.Destination__ul {
  width: 100%;
  height: 40px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

@media (min-width: 1000px) {
  .Destination__ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -10px;
  }
}

.Destination__li {
  padding: 10px 0;
  margin: 0 15px;
  cursor: pointer;
  color: var(--secondColor);
  font-size: 1.2rem;
  letter-spacing: 1px;
  position: relative;
}

.Destination__li.active {
  color: #fff;
}

.Destination__li.active::after {
  background-color: #fff;
  width: 100%;
}

.Destination__li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: width .3s;
  transition: width .3s;
  background-color: #8a8a8a;
}

.Destination__li:hover::after {
  width: 100%;
}

.Destination__about-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

@media (min-width: 520px) {
  .Destination__about-wrapper {
    max-width: 550px;
  }
}

@media (min-width: 1000px) {
  .Destination__about-wrapper {
    max-width: 400px;
  }
}

.Destination__about {
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.Destination__about.moon {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.Destination__about.mars {
  -webkit-transform: translateX(-600px);
          transform: translateX(-600px);
}

@media (min-width: 520px) {
  .Destination__about.mars {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
}

@media (min-width: 1000px) {
  .Destination__about.mars {
    -webkit-transform: translateX(-2500px);
            transform: translateX(-2500px);
  }
}

.Destination__about.europa {
  -webkit-transform: translateX(-1200px);
          transform: translateX(-1200px);
}

@media (min-width: 520px) {
  .Destination__about.europa {
    -webkit-transform: translateX(-2200px);
            transform: translateX(-2200px);
  }
}

@media (min-width: 1000px) {
  .Destination__about.europa {
    -webkit-transform: translateX(-5000px);
            transform: translateX(-5000px);
  }
}

.Destination__about.titan {
  -webkit-transform: translateX(-1800px);
          transform: translateX(-1800px);
}

@media (min-width: 520px) {
  .Destination__about.titan {
    -webkit-transform: translateX(-3300px);
            transform: translateX(-3300px);
  }
}

@media (min-width: 1000px) {
  .Destination__about.titan {
    -webkit-transform: translateX(-7500px);
            transform: translateX(-7500px);
  }
}

.Destination__about div {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

@media (min-width: 1000px) {
  .Destination__about div {
    text-align: left;
  }
}

.Destination__about div hr {
  margin: 20px 0;
}

@media (min-width: 520px) {
  .Destination__about div hr {
    margin: 40px 0;
  }
}

.Destination__about .PlanetMoon {
  left: 0;
}

.Destination__about .PlanetMars {
  left: 600px;
}

@media (min-width: 520px) {
  .Destination__about .PlanetMars {
    left: 1100px;
  }
}

@media (min-width: 1000px) {
  .Destination__about .PlanetMars {
    left: 2500px;
  }
}

.Destination__about .PlanetEuropa {
  left: 1200px;
}

@media (min-width: 520px) {
  .Destination__about .PlanetEuropa {
    left: 2200px;
  }
}

@media (min-width: 1000px) {
  .Destination__about .PlanetEuropa {
    left: 5000px;
  }
}

.Destination__about .PlanetTitan {
  left: 1800px;
}

@media (min-width: 520px) {
  .Destination__about .PlanetTitan {
    left: 3300px;
  }
}

@media (min-width: 1000px) {
  .Destination__about .PlanetTitan {
    left: 7500px;
  }
}

.Website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-width: 360px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.Website.home {
  background-image: url("../images/home/background-home-mobile.jpg");
}

@media (min-width: 520px) {
  .Website.home {
    background-image: url("../images/home/background-home-tablet.jpg");
  }
}

@media (min-width: 1000px) {
  .Website.home {
    background-image: url("../images/home/background-home-desktop.jpg");
  }
}

.Website.destination {
  background-image: url("../images/destination/background-destination-mobile.jpg");
}

@media (min-width: 520px) {
  .Website.destination {
    background-image: url("../images/destination/background-destination-tablet.jpg");
  }
}

@media (min-width: 1000px) {
  .Website.destination {
    background-image: url("../images/destination/background-destination-desktop.jpg");
  }
}

.Website.crew {
  background-image: url("../images/crew/background-crew-mobile.jpg");
}

@media (min-width: 520px) {
  .Website.crew {
    background-image: url("../images/crew/background-crew-tablet.jpg");
  }
}

@media (min-width: 1000px) {
  .Website.crew {
    background-image: url("../images/crew/background-crew-desktop.jpg");
  }
}

.Website.technology {
  background-image: url("../images/technology/background-technology-mobile.jpg");
}

@media (min-width: 520px) {
  .Website.technology {
    background-image: url("../images/technology/background-technology-tablet.jpg");
  }
}

@media (min-width: 1000px) {
  .Website.technology {
    background-image: url("../images/technology/background-technology-desktop.jpg");
  }
}

.Website__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=style.css.map */