@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
html {
  --Maincolor: rgb(11,13,23);
  --Secondcolor: rgb(208,214,249);
  --thirdColor: rgb(255,255,255);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Nav {
  font-family: 'Barlow Condensed';
  text-transform: uppercase;
  padding: 40px 0 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
}

@media (min-width: 520px) {
  .Nav {
    font-size: 1.2em;
  }
}

@media (min-width: 1000px) {
  .Nav {
    font-size: 1.5em;
  }
}

@media (min-width: 1000px) {
  .Nav__line {
    position: absolute;
    top: 90px;
    left: 170px;
    right: 790px;
    height: 1px;
    background-color: #2c2c2c;
  }
}

.Nav__logo {
  width: 50px;
  height: 50px;
}

.Nav__hamburger {
  margin-left: auto;
  cursor: pointer;
  z-index: 1;
  padding-right: 40px;
}

@media (min-width: 520px) {
  .Nav__hamburger {
    display: none;
  }
}

.Nav__ul {
  display: none;
  list-style-type: none;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 520px) {
  .Nav__ul.NavActive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 150px;
    line-height: 3em;
    font-size: 1.3em;
  }
}

@media (min-width: 520px) {
  .Nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 30px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 1000px) {
  .Nav__ul {
    padding-left: 50px;
    padding-right: 90px;
  }
}

.Nav__li a {
  text-align: left;
  text-decoration: none;
  color: white;
  padding: 0 0 0 30px;
  margin-top: 30px;
  position: relative;
  display: block;
  width: 100%;
}

.Nav__li a span {
  font-weight: bold;
  margin-right: 10px;
}

@media (min-width: 520px) and (max-width: 999px) {
  .Nav__li a span {
    display: none;
  }
}

@media (min-width: 520px) {
  .Nav__li a {
    margin: 0 0 0 30px;
    padding: 35px 0;
    width: auto;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .Nav__li a {
    margin: 0 0 0 60px;
  }
}

.Nav__li a::after {
  content: "";
  position: absolute;
  background-color: var(--thirdColor);
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
  bottom: 0;
  right: 0;
  width: 3px;
  height: 0;
}

@media (min-width: 520px) {
  .Nav__li a::after {
    right: none;
    left: 0;
    width: 0;
    height: 3px;
  }
}

.Nav__li a:hover::after {
  height: 100%;
}

@media (min-width: 520px) {
  .Nav__li a:hover::after {
    height: 3px;
    width: 100%;
  }
}

.Nav__li a.active::after {
  content: "";
  position: absolute;
  background-color: var(--thirdColor);
  bottom: 0;
  right: 0;
  width: 3px;
  height: 100%;
}

@media (min-width: 520px) {
  .Nav__li a.active::after {
    right: none;
    left: 0;
    width: 100%;
    height: 3px;
  }
}

.Website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: url("../images/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Website__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=style.css.map */